header {
    background-color: #333333;
    padding: 20px;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
}